<div class="container">
    <form [formGroup]="angForm" novalidate>

        <div class="form-group">
            <label for="pid" class="col-md-4">Pizza Id</label>
            <input type="text" class="form-control" formControlName="pid" #pid>
        </div>
<!-- we want to bind error with above input element so #pid -->
        <div class="alert alert-danger" *ngIf="angForm.controls['pid'].invalid && (angForm.controls['pid'].dirty || angForm.controls['pid'].touched)">
            <!-- Custom Error Message -->
            <div *ngIf="angForm.controls['pid'].error.required">
                Pizza Id must be entered
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-md-4">Pizza Name</label>
            <input type="text" class="form-control" formControlName="name" #name>
        </div>
<!-- we want to bind error with above input element so #name -->
<div class="alert alert-danger" *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)">
        <!-- Custom Error Message -->
        <div *ngIf="angForm.controls['name'].errors.required">
            Pizza Name must be entered
        </div>
    </div>

        <div class="form-group">
            <label for="price" class="col-md-4">Price</label>
            <input type="text" class="form-control" formControlName="price" #price>
        </div>
<!-- we want to bind error with above input element so #price -->
<div class="alert alert-danger" *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)">
        <!-- Custom Error Message -->
        <div *ngIf="angForm.controls['price'].errors.required">
            Pizza price must be entered
        </div>
    </div>

<div class="form-group">
    <button (click)="addAPizza(pid.value,name.value,price.value)" [disabled]="angForm.invalid || angForm.pristine" class="btn btn-primary">Add Pizza</button>
</div>
    </form>
</div>